


#login .card-description-nemaF {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    color: #6D0CEE;
}
#login .card-description-nemaR {
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 50px;
    color: #fff;
}
#login .dis-between {
    display: flex;
    justify-content: space-between;

}

#login input[type="checkbox"i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: 2.26718px solid #EC5858;
}

#login input[type=text]
 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
    color: #9443FF;
    padding-left: 70px;
}
#login .inputR[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 25px;
    color: #ffff;
    padding-left: 70px;
    background: transparent;
}

#login .inputtwo[type=password]
 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
    background-image: url(/images/eye.png);
    background-position: 97% 15px;
    background-repeat: no-repeat;
    background-size: 50px;
    color: #9443FF;
    padding-left: 70px;
}
#login .inputtwoR[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
    background-image: url(/images/eye.png);
    background-position: 97% 15px;
    background-repeat: no-repeat;
    background-size: 50px;
    color: #ffff;
    padding-left: 70px;
    background: transparent;
}
#login input[type=submit] {
    width: 100%;
    background-color: #6D0CEE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}

#login .submitR[type=submit] {
    width: 100%;
    background-color: #fff;
    color: #6D0CEE;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
#login input[type=submit]:hover {
    background-color: #9443FF;
}

#login .formstyle {

    box-sizing: border-box;
    border-radius: 18.8931px;
    /* border: 2px solid; */
    margin: 30px;
    padding: 40px;
}
#login .formstyleR {
    box-sizing: border-box;
    margin: 30px;
    padding: 40px;
    background: #6D0CEE;
    border-radius: 28px;
    color: white;
}
#login .content .content-grid .content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#login .color-log {
    color: #6D0CEE;
}
#login .color-log:hover {
    color: #7E7E7E;

}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
#login .login {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 0px 0px 40px;
    color: #6D0CEE;
    text-align: end;
}



#login .login input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

}

#login .login .checkmark {
    position: absolute;
    top: 18px;
    left: -3px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 2px solid #6D0CEE;
    border-radius: 5px;
}

#login .regisC .checkmark {

    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
#login .login:hover input~.checkmark {
    background-color: #fff;
}


#login .login input:checked~.checkmark {
    background-color: #6D0CEE;
}
#login .loginR input:checked~.checkmark {
    background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
#login .login .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
#login .login input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
#login .login .checkmark:after {
    left: 11px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#login .regis {
    font-size: 30px;
    padding: 18px 0px 0px 0px;
    text-align: left;
}

#login .dis-evenly {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}
#login .dis-between-center {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 50px;
}

#login .loginR {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 0px 0px 40px;
    color: #6D0CEE;
    text-align: inherit;
    color: #fff;
}
.icon {
    position: absolute;
    padding: 25px 18px 20px 20px;
    min-width: 44px;
    width: 70px;
    position: absolute;
}
.icon2 {
    position: absolute;
    padding: 18px 18px 20px 20px;
    min-width: 44px;
    width: 70px;
}
@media screen and (min-device-width: 280px) and (max-device-width: 1024px) {
    #login .formstyle {
        margin: 20px;
        padding: 20px;
    }
    #login .formstyleR {
        margin: 20px;
        padding: 20px;
    }

    #login .regis {
        font-size: 20px;
    }

    #login .card-description-nemaF {
        font-size: 30px;
    }

    #login .inputtwo[type=text]
     {
        font-size: 17px;
        background-size: -0px;
    }

    #login input[type=text]
     {
        font-size: 17px;
    }

    #login .login {
        font-size: 20px;
    }
    #login .login .checkmark {
        top: 13px;
    }
    #login .loginimg{
        width: 100px;
    }
}



#login #profile input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
    color: #9443FF;
    /* padding-left: 70px; */
}
#login #profile .formstyle {
    box-sizing: border-box;
    border-radius: 18.8931px;
    /* border: 2px solid; */
    border: 4px solid #6D0CEE;
    margin: 30px;
    padding: 40px;
}
#login  #profile input[type=submit] {
    width: 70px;
    background-color: #6D0CEE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}
