#login .card-description-nemaF {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    color: #6D0CEE;
}

#login .card-description-nemaR {
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 50px;
    color: #fff;
}

#login .dis-between {
    display: flex;
    justify-content: space-between;
}

#login input[type="checkbox"i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: 2.26718px solid #EC5858;
}

#login input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0px 30px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
    color: #9443FF;
    padding-left: 70px;
}

#login input[type=text]:focus {
    border: 2px solid #9443FF;
    outline-offset: 0px;
    outline: none;
    background: white;
}

#login input[type=text]:hover {
    border: 2px solid #7E7E7E
}

#login .inputtwo[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
    background-image: url(/images/eye.png);
    background-position: 97% 15px;
    background-repeat: no-repeat;
    background-size: 50px;
    color: #9443FF;
    padding-left: 70px;
}

#login .inputtwo[type=password]:focus {
    border: 2px solid #9443FF;
    outline-offset: 0px;
    outline: none;
    background: white;
}

#login .inputtwo[type=password]:hover {
    border: 2px solid #7E7E7E
}

#login .inputR[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 25px;
    color: #ffff;
    padding-left: 70px;
    background: transparent;
    height: 50px;
}

#login .inputR[type=text]:focus {
    border: 2px solid white;
    outline-offset: 0px;
    outline: none;
    background: transparent;
}

#login .inputR[type=text]:hover {
    border: 2px solid white;
}

#login .inputtwoR[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 25px;
    background-image: url(/images/eye.png);
    background-position: 97% 15px;
    background-repeat: no-repeat;
    background-size: 50px;
    color: #ffff;
    padding-left: 70px;
    background: transparent;
    height: 50px;
}

#login .inputtwoR[type=password]:focus {
    border: 2px solid white;
    outline-offset: 0px;
    outline: none;
    background: transparent;
}

#login .inputtwoR[type=password]:hover {
    border: 2px solid white;
}

#login input[type=submit] {
    width: 100%;
    background-color: #6D0CEE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}

#login .submitR[type=submit] {
    width: 100%;
    background-color: #fff;
    color: #6D0CEE;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}

#login input[type=submit]:hover {
    background-color: #9443FF;
}

#login .formstyle {
    box-sizing: border-box;
    border-radius: 18.8931px;
    /* border: 2px solid; */
    margin: 30px;
    padding: 40px;
}

#login .formstyleR {
    box-sizing: border-box;
    margin: 30px;
    padding: 40px;
    background: #6D0CEE;
    border-radius: 28px;
    color: white;
}

#login .content .content-grid .content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#login .color-log {
    color: #6D0CEE;
}

#login .color-log:hover {
    color: #7E7E7E;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: none;
}

#login .login {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 0px 0px 40px;
    color: #6D0CEE;
    text-align: end;
}

#login .login input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#login .login .checkmark {
    position: absolute;
    top: 18px;
    left: -3px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 2px solid #6D0CEE;
    border-radius: 5px;
}

#login .regisC .checkmark {
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

#login .login:hover input~.checkmark {
    background-color: #fff;
}

#login .login input:checked~.checkmark {
    background-color: #6D0CEE;
}

#login .loginR input:checked~.checkmark {
    background-color: #000;
}


/* Create the checkmark/indicator (hidden when not checked) */

#login .login .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

#login .login input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

#login .login .checkmark:after {
    left: 11px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#login .regis {
    font-size: 30px;
    padding: 18px 0px 0px 0px;
    text-align: left;
}

#login .dis-evenly {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}

#login .dis-between-center {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 50px;
}

#login .loginR {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    padding: 10px 0px 0px 40px;
    color: #6D0CEE;
    text-align: inherit;
    color: #fff;
}

.icon {
    position: absolute;
    padding: 30px 15px 20px 20px;
    min-width: 41px;
    width: 65px;
    position: absolute;
}

.icon2 {
    position: absolute;
    padding: 25px 12px 10px 23px;
    min-width: 44px;
    width: 60px;
}

.iconR {
    position: absolute;
    padding: 23px 18px 20px 20px;
    min-width: 41px;
    width: 65px;
    position: absolute;
}

.icon2R {
    position: absolute;
    padding: 18px 14px 10px 23px;
    min-width: 44px;
    width: 60px;
}

.iconeye {
    position: absolute;
    padding: 23px 0px 10px 23px;
    min-width: 44px;
    width: 60px;
    right: 285px;
}

@media screen and (min-device-width: 280px) and (max-device-width: 1024px) {
    #login .formstyle {
        margin: 20px;
        padding: 20px;
    }
    #login .formstyleR {
        margin: 20px;
        padding: 20px;
    }
    #login .regis {
        font-size: 20px;
    }
    #login .card-description-nemaF {
        font-size: 30px;
    }
    #login .inputtwo[type=text] {
        font-size: 17px;
        background-size: -0px;
    }
    #login input[type=text] {
        font-size: 17px;
    }
    #login .login {
        font-size: 20px;
    }
    #login .login .checkmark {
        top: 13px;
    }
    #login .loginimg {
        width: 100px;
    }
}

#login #profile .password {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
    color: #9443FF;
    /* padding-left: 70px; */
}

#login #profile input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 25px;
    color: #9443FF;
    /* padding-left: 70px; */
}

#login #profile .formstyle {
    box-sizing: border-box;
    border-radius: 18.8931px;
    /* border: 2px solid; */
    border: 4px solid #6D0CEE;
    margin: 30px;
    padding: 40px;
}

#login #profile input[type=submit] {
    background-color: #6D0CEE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
}

#login #profile .file-input {
    text-align: center;
    margin: 25px;
}

#login #profile .file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#login #profile .file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #6D0CEE;
    font-size: 21px;
    padding: 10px 12px;
    background-color: #C4C4C4;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
    border-radius: 50px;
}

#login #profile .buttonmo {
    font-size: 25px;
    color: #7E7E7E;
    border: none;
    background: transparent;
}

#profile .file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

#profile .file-upload {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #6D0CEE;
    font-size: 21px;
    padding: 10px 20px;
    background-color: #C4C4C4;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
    border-radius: 50px;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    max-width: max-content;
    border: none;
}

#profile .file-upload input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}

#wallet .formstyle {
    box-sizing: border-box;
    border-radius: 20px;
    border: 4px solid #6D0CEE;
    margin: 20px 0px;
    padding: 20px;
}

#wallet .content-wallet {
    font-size: 30px;
    text-align: left;
    color: #6D0CEE;
}

#wallet .content-wallet-con {
    font-size: 50px;
    text-align: center;
    color: #6D0CEE;
    font-weight: 600;
}

#wallet .display-tele {
    display: flex;
    font-size: 50px;
    font-weight: 400 !important;
    color: #53545F !important;
    align-items: center;
}

#wallet .imgtele {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

#wallet .display-row {
    display: flex;
    font-size: 25px;
    font-weight: 400 !important;
    color: #6D0CEE;
    flex-direction: column;
    align-items: flex-start;
}

#wallet .coppy-tran {
    background: #C4C4C4;
    border-radius: 40px;
    color: #6D0CEE;
    font-size: 25px;
    padding: 0px 10px;
    border: none;
}

#wallet .wallet-table {
    width: 100%;
    border-collapse: collapse;
    /* border-radius: 5px; */
    overflow: hidden;
    border: 2px solid #6D0CEE;
    background: #6D0CEE;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

#wallet .wallet-table td,
#wallet .wallet-table th {
    /* border: 1px solid #ddd; */
    padding: 8px;
    background-color: white;
}

#wallet .wallet-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#wallet .wallet-table tr:hover {
    background-color: #ddd;
}

#wallet .wallet-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #6D0CEE;
    color: white;
}

#wallet .but-table {
    padding: 5px 0px 5px 0px;
    color: #000;
    font-weight: bold;
    text-align: right;
}

#wallet .re-tran {
    color: #fff;
    font-size: 20px;
    padding: 0px 15px;
    border: none;
    background: #6D0CEE;
    border-radius: 5px;
}

.pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.pagination ul li {
    text-decoration: none;
    position: relative;
    margin: 0 4px;
    width: 21px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 5px 10px rgb(0 0 0 / 30%), inset 0 -5px 0px rgb(80 80 80 / 10%), inset 0 -10px 0px rgb(150 150 150 / 10%); */
    overflow: hidden;
    color: #6D0CEE;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    /* background-color: transparent;*/
}

.pagination ul li:hover {
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4), inset 0 -5px 0px rgba(80, 80, 80, 0), inset 0 -10px 0px rgba(150, 150, 150, 0);
}

.pagination ul li:hover:before,
.pagination ul li:hover:after {
    transform: translateY(0);
}

.pagination ul li:active {
    box-shadow: none;
}

.pagination ul li.active {
    color: #fff;
    background: #6D0CEE;
}

.pagination ul {
    flex-direction: row;
    display: flex;
}

#under .content-un {
    font-size: 30px;
    text-align: left;
    padding: 15px 0px;
    color: #6D0CEE;
}

#under .dis-cen {
    text-align: right;
    display: flex;
    align-items: center;
}

#under .dis-colum {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#under .dis-between {
    display: flex;
    justify-content: space-between;
}

#under .dis-box {
    background: #F9F9F9;
    border: 1px solid #E8E7E7;
    box-sizing: border-box;
    box-shadow: 0px 2.79495px 2.79495px rgb(0 0 0 / 25%);
    border-radius: 9.25662px;
    margin: 15px 0px;
    height: 400px;
}

#under .col-con {
    padding: 20px;
    color: #6D0CEE;
    font-size: 13px;
}

#under .img-un {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
}

#under .img-f {
    width: 100%;
    height: 40px;
    border-radius: 0%;
    margin-right: 0px;
}

#under .but-f {
    width: max-content;
    height: max-content;
    background: transparent;
    border: none;
}

#under .div-un {
    text-align: left;
}

#under .btn-per {
    background: #6D0CEE;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 7px;
    background-color: #6D0CEE;
    color: white;
    padding: 0px 9px 0px 9px;
    font-size: 20px;
    width: 140px;
    height: 40px;
    align-items: center;
    border: none;
    margin: 15px 0px 0px 5px;
}

#under .left-contenthead {
    display: flex;
    align-items: center;
}

#under .btn-detail {
    width: 90px;
    background: #6D0CEE;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
    border-radius: 5px;
    color: white;
    border: none;
    margin: 27px 0px 0px 20px;
    height: 31px;
    font-size: 14px;
}

#under .dropdown-search-under {
    left: 18px;
    background: #6D0CEE;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    color: white;
    min-width: max-content;
}

#under .dd-item {
    color: #fff!important;
}

#under .add-image {
    width: 100px;
    height: 100px;
    padding: 0px;
    position: relative;
    transform: translate(15%, 90%);
    margin-bottom: 175px;
}

#under .dis-row {
    display: flex;
    flex-direction: row;
}

#under .dis-collum {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #6D0CEE;
}

#under .btn-per {
    background: #6D0CEE;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 7px;
    height: 50px;
    background-color: #6D0CEE;
    color: white;
    padding: 0px 9px 0px 9px;
    font-size: 20px;
    width: 170px;
    align-items: center;
    border: none;
    margin: 5px;
}

#under .btn-per-red {
    background: #FF403F;
}

#under .alert-per {
    font-size: 10px;
    padding: 10px;
    color: red;
}

#under .per-con {
    font-size: 15px;
    color: #6D0CEE;
    margin: 0px 0px 20px 0px;
}

@media screen and (min-device-width: 280px) and (max-device-width: 1024px) {}