#body {
    font-family: 'Kanit', sans-serif;
    background-color: gray;
    margin: 0;
    background: url('/img/bg.png') #ffff center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative;
    z-index: -1;
}

#body .topimg {
    width: 100%;
    opacity: 0.9;
}

#body .imgline {
    width: 12%;
    margin-right: 4px;
}

#body .con-top-img {
    position: relative;
}

#body .top-img-con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #ffff;
    text-align: center
}

#body .top-button {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#body .but-img {
    width: 180px;
    height: 50px;
    background: #EE6969;
    border-radius: 34px;
    border: none;
    font-size: 20px;
    color: white;
    margin: 20px;
}

#body .but-up {
    width: 100%;
    height: 90px;
    background: white;
    /* border-radius: 49px; */
    border: none;
    font-size: 40px;
    color: black;
    margin: 20px;
}

#body .but-two {
    background: #3BAEDA;
}

#body .content-head {
    font-size: 30px;
    text-align: left;
}

#body .alert-header {
    display: flex;
}

#body .content-tab-dont-login {
    font-size: 30px;
    color: #6D0CEE;
    text-align: center;
}

#body .content-tab-dont-login {
    font-size: 15px;
    text-align: center;
}

#body .content-top-alert {
    font-size: 30px;
    color: #6D0CEE;
    text-align: left;
}

#body .content-top-dont-login {
    font-size: 30px;
    color: #6D0CEE;
    text-align: center;
}

#body .content-fontalert {
    font-size: 15px;
    text-align: left;
}

#body .alert-img {
    padding: 10px;
    width: 80px;
}

#body .content-alert {
    color: #6d0cee;
    border-style: solid;
    text-align: center;
    border-radius: 10px;
    padding: 12px;
}

#body .content-tab-dont-log {
    color: #6d0cee;
    border-style: solid;
    text-align: center;
    border-radius: 10px;
}

#body .but-map {
    width: 190px;
    height: 40px;
    background: white;
    border: 3.43412px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3.21767px;
    font-size: 17px;
    color: black;
    margin: 20px;
}

#body .container {
    width: 90%;
    margin: 1px auto;
    background-color: transparent;
    padding-top: 20px;
}

#body .content {
    margin-top: 5px;
}

#body .content:after {
    content: "";
    clear: both;
    display: table;
}

#body .content .content-grid {
    float: left;
    width: 100%;
}

#body .content .content-grid .content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#body .content .content-grid .content-list .card-content {
    width: 30%;
    height: max-content;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    position: relative;
    border: 1px solid #C4C4C4;
    border-radius: 3.21767px;
    box-shadow: 0px 5px 1px 0px #C4C4C4;
}

#body .content .content-grid .content-list .card-content .card-img {
    width: 100%;
    height: 260px;
}

#body .content .content-grid .content-list .card-content .card-quality {
    top: 5px;
    right: 0px;
    position: absolute;
    width: 27%;
    height: 0;
}

#body .content .content-grid .content-list .card-content .color-star {
    margin: 0px 0px 0px 0px;
    color: #FFC37C;
    background: transparent;
    border: none;
}

#body .content .content-grid .content-list .card-content .card-quality span {
    color: #0011ff;
    font-size: 10px;
    transform: rotate(45deg);
    display: block;
    left: 26px;
    position: absolute;
    top: 7px;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content {
    bottom: 18px;
    position: absolute;
    width: 100%;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-top {
    padding: 0 6px;
    display: block;
    position: relative;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-top:after {
    content: "";
    clear: both;
    display: table;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-top .card-description-rate {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 12px;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-top .card-description-rate:before {
    content: "\2605";
    color: #ff9a36;
    padding-right: 2px;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-top .card-description-type {
    float: right;
    font-weight: 300;
    background-color: #223f9a;
    padding: 0 8px;
    border-radius: 4px;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-nema {
    padding: 0 6px;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    /* background-color: #8e8f91; */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    transform: translate(0px, 20px);
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-name {
    padding: 0 6px;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    background: #FF8A00;
    color: white;
    position: relative;
    transform: translate(0px, 15px);
    width: 30%;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-cut {
    padding: 0 6px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: relative;
    transform: translate(0px, 13px);
    width: 20%;
}

#body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-down {
    padding: 1px 0px 0px 10px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-align: center; */
    background-color: white;
    color: black;
    position: relative;
    transform: translate(0px, 20px);
}

#body .content .content-grid .content-list .card-content {
    width: 15%;
    height: 300px;
    margin-right: 15px;
    background-color: #C4C4C4;
    text-decoration: none;
    overflow: hidden;
}

#body .content-top {
    color: #000;
    font-weight: bold;
    text-align: center;
}

#body .content-top-title {
    font-size: 20px;
    text-align: left;
}

#body .title-right {
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-right: 100px;
}

#body .content-top-#body {
    font-size: 30px;
}

#body .swiper-container-3d {
    perspective: 100000px !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

.card-img-swiper {
    width: 100%;
    height: 340px;
}

.gallery-thumbs {
    height: 100%;
    width: 80%;
}

.gallery-thumbs .swiper-wrapper {
    align-items: center;
}

.gallery-thumbs .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px !important;
    height: 330px;
}

.gallery-thumbs .swiper-slide img {
    /* filter: contrast(0.5) blur(1px); */
    width: 95%;
    /* height: 100%;
object-fit: cover;
border-radius: 10px; */
}

.gallery-thumbs .swiper-slide-active img {
    filter: contrast(1) blur(0px) !important;
}

.flex-row .flex-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonial-section .quote {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.swiper-container.testimonial {
    height: 100vh;
}

.testimonial-section .user-saying {
    background: var(--theme-color2);
    width: 60%;
    color: #fff;
    height: 100%;
}

.testi-user-img {
    width: 100%;
}

.testimonial-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    width: 100%;
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
    width: 100%;
}

.card-description-content-swiper {
    width: 95.1% !important;
}

#datastar .img-girl-s {
    width: 100%;
}

#datastar .img-lo {
    width: 5%;
}

#datastar .img-pro {
    width: 30%;
    float: right;
}

#datastar .img-line {
    width: 10%;
}

#datastar .img-pro-s {
    width: 25%;
    float: right;
}

#datastar .page {
    width: 100%;
    height: 40px;
    background: #F0F0F0;
    font-size: 17px;
    color: black;
    margin: 20px auto;
    padding: 8px;
}

#datastar .content-down {
    font-size: 18px;
    text-align: left;
    font-weight: normal;
}

#datastar .content-lo {
    text-align: center;
    color: rgba(236, 88, 88, 1);
}

#datastar .bott-line {
    border-bottom: 3px solid #C6C2C2;
    margin: 20px 0px;
}

#datastar .bott-line-com {
    border-bottom: 3px solid #C6C2C2;
}

#datastar .page-com {
    width: 100%;
    height: 70px;
    background: #F0F0F0;
    font-size: 17px;
    color: black;
    margin: 20px auto;
    padding: 10px;
}

#datastar p {
    margin: 0 0 3px;
}

#datastar .input-container {
    width: 100%;
    height: 100px;
    border: 1px solid #a9a9a9;
    margin-bottom: 20px;
}

#datastar .input-container input:focus,
#datastar .input-container input:active {
    outline: none;
}

#datastar .input-container input {
    border: none;
    width: 100%;
}

#datastar .input-button {
    width: max-content;
    height: max-content;
    position: absolute;
    bottom: 25px;
    right: 75px;
    background: #3BAEDA;
    border-radius: 22px;
    border: none;
    padding: 3px 10px;
    color: white;
}

#datastar .input-button-cal {
    bottom: 25px;
    right: 20px;
    background: #EC5858;
}

#selectedFiles img {
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
}

@media screen and (min-device-width: 280px) and (max-device-width: 1024px) {
    #body .content-top {
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
    #body .container {
        width: 100%;
    }
    #body .content .content-grid .content-list .card-content .card-quality {
        top: 5px;
        right: 60px;
        position: absolute;
        width: 0;
        height: 0;
    }
    #body .content .content-grid {
        width: 100%;
    }
    #body .content .content-grid .content-list .card-content {
        width: 48%;
        height: 200px;
        margin-right: 5px;
        text-decoration: none;
        overflow: hidden;
    }
    #body .content .content-grid .content-list .card-content .card-img {
        width: 100%;
        height: 160px;
    }
    #body .title-right {
        font-size: 20px;
        color: white;
        padding-top: 0px;
        padding-right: 5px;
    }
    #body .content {
        margin-top: 1px;
        padding-left: 0px;
    }
    #body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-down {
        height: 30px;
        font-size: 16px;
    }
    #body .content .content-grid .content-list .card-content .card-description .card-description-content .card-description-nema {
        font-size: 14px;
    }
    #body .top-img-con {
        font-size: 25px;
    }
    #body .but-img {
        width: 100px;
        height: 38px;
        font-size: 13px;
        margin: 2px;
    }
    #body .topimg {
        height: 260px;
    }
    #body .content-head {
        font-size: 20px;
        text-align: center;
    }
    #body .content-headD {
        font-size: 25px;
        text-align: left;
    }
    #body .content-top-title {
        font-size: 20px;
    }
    #body .alert-img {
        padding: 5px;
        width: 45px;
    }
    #body .content-top-alert {
        font-size: 15px;
    }
    #body .content-fontalert {
        font-size: 10px;
    }
    #body .but-up {
        width: 100%;
        height: 30px;
        font-size: 25px;
        margin: 0px;
    }
}

@media screen and (min-device-width: 600px) and (max-device-width: 1023px) {
    #body .content .content-grid .content-list .card-content {
        width: 27%;
        height: 200px;
        margin-right: 5px;
        text-decoration: none;
        overflow: hidden;
    }
}

#follow .content .content-grid .content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#follow .card-description-nemaF {
    text-align: center;
    position: relative;
    /* padding-top: 50%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: white;
    transform: translateY(50%);
}

.login-content {
    border-radius: 5px;
    height: 55px;
    background-color: #9443FF;
    color: white;
    padding: 0px 20px 0px 20px;
    font-size: 25px;
    align-items: center;
    border-color: #9443FF;
}

.regis-content {
    border-radius: 5px;
    height: 55px;
    background-color: #9443FF;
    color: white;
    padding: 0px 20px 0px 20px;
    font-size: 25px;
    align-items: center;
    border-color: #9443FF;
}

.btn-log-regis {
    padding-bottom: 10px;
    padding-top: 10px;
}

.bt-content {
    padding-top: 25px;
}

.iconalert-tabcontent {
    font-size: 64px;
    padding: 22px 15px 0px 0px;
}

.head-font-bf-data {
    font-size: 30px;
    font-style: italic;
    color: #6D0CEE;
    font-weight: 700;
}

.head2-font-bf-data {
    font-size: 19px;
    color: #6D0CEE;
    font-weight: 400;
}

.head2-font-bf-data-following {
    font-size: 26px;
    color: #6D0CEE;
    padding-top: 2rem;
    font-weight: 700;
}

.head2-font-bf-data-underlist {
    font-size: 25px;
    color: #6D0CEE;
    font-weight: 700;
}

.right-contentsearch-following {
    padding-top: 2rem;
}

.right-contentsearch-underlist {
    padding-bottom: 10px;
}

.inline-formsearch {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.conent-search {
    float: right;
}

.btn-search-insied-input {
    position: relative;
    left: -25px;
}

.conent-search-input {
    background: #CDCDCD;
    padding: 10px 0px 8px 6px;
    border-radius: 5px;
    border: bisque;
}

.box-sideline {
    display: flex;
    /* padding-left: 15px; */
    flex-wrap: wrap;
    /* padding-right: 15px; */
    width: 100%;
}

.card_sis {
    background-color: #6D0CEE;
    border-radius: 10px;
    height: auto;
    display: block;
    width: 100%;
    position: relative;
}

.card_under {
    background-color: #6D0CEE;
    border-radius: 10px;
    height: 236px;
    display: block;
    width: 100%;
    position: relative;
}

.card-title-side {
    color: white;
    font-weight: 600;
    font-size: 23px;
    line-height: 42px;
    display: flex;
    align-items: center;
}

.card-title-underlist {
    color: white;
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
    text-align: center;
}

.card-text-side {
    color: white;
}

.div-point-side {
    display: flex;
}

.card-point-side {
    color: white;
    font-size: 10px;
}

.card-point-star {
    color: white;
    right: 11px;
    position: absolute;
    font-size: 10px;
}

.card_sis .card_ratemoney-body a {
    font-size: 13px;
    color: #6D0CEE !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    bottom: 117px;
    background: #fff;
    width: 56px;
    height: 24px;
    right: 0;
    padding-left: 9px;
    border-radius: 15px 0 0 0;
    padding-top: 3px;
}

.card_sis .card_typesex-body a {
    font-size: 13px;
    color: #6D0CEE !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    bottom: 117px;
    background: #fff;
    width: 52px;
    height: 23px;
    left: 0;
    padding-left: 5px;
    border-radius: 0px 15px 0px 0px;
    padding-top: 2px;
}

.card_sis .card_new-body a {
    font-size: 13px;
    color: #6D0CEE !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    top: 0;
    background: #fff;
    width: 52px;
    height: 23px;
    left: 0;
    padding-left: 5px;
    border-radius: 0px 0px 15px 0px;
    padding-top: 2px;
}

.card_sis .card_follow-body i {
    font-size: 24px;
    color: #ffffff !important;
    opacity: 1;
    position: absolute;
    z-index: 1;
    top: 0;
    /* background: #fff; */
    width: 35px;
    height: 23px;
    right: 0;
    padding-left: 5px;
    border-radius: 0px 0px 15px 0px;
    padding-top: 2px;
}

.card_sis .card_check-body i {
    font-size: 24px;
    color: #4608f1 !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    top: 29px;
    /* background: #fff; */
    width: 35px;
    height: 23px;
    right: 0;
    padding-left: 5px;
    border-radius: 0px 0px 15px 0px;
    padding-top: 2px;
}

.img-side-data-body {
    border-radius: 10px;
}

.img-side-data-underlist {
    border-radius: 50%;
    text-align: center;
    padding: 15px 15px 15px 15px;
    height: 70%;
}

.pd-bottom {
    padding-bottom: 1rem;
}

.btn-seemore {
    border-radius: 5px;
    height: 39px;
    background-color: #6D0CEE;
    color: white;
    padding: 0px 9px 0px 9px;
    font-size: 16px;
    width: 111px;
    align-items: center;
    border-color: #9443FF;
}

.div-seemore {
    text-align: center;
}

.card_sis .card_ratemoney-following a {
    font-size: 13px;
    color: #6D0CEE !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    bottom: 117px;
    background: #fff;
    width: 56px;
    height: 24px;
    right: 0;
    padding-left: 9px;
    border-radius: 15px 0 0 0;
    padding-top: 3px;
}

.card_sis .card_typesex-following a {
    font-size: 13px;
    color: #6D0CEE !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    bottom: 117px;
    background: #fff;
    width: 52px;
    height: 23px;
    left: 0;
    padding-left: 5px;
    border-radius: 0px 15px 0px 0px;
    padding-top: 2px;
}

.card_sis .card_new-following a {
    font-size: 13px;
    color: #6D0CEE !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    top: 0;
    background: #fff;
    width: 52px;
    height: 23px;
    left: 0;
    padding-left: 5px;
    border-radius: 0px 0px 15px 0px;
    padding-top: 2px;
}

.card_sis .card_follow-following i {
    font-size: 24px;
    color: #5008f1 !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    top: 0;
    /* background: #fff; */
    width: 35px;
    height: 23px;
    right: 0;
    padding-left: 5px;
    border-radius: 0px 0px 15px 0px;
    padding-top: 2px;
}

.card_sis .card_check-following i {
    font-size: 24px;
    color: #4608f1 !important;
    opacity: 1;
    position: absolute;
    /* z-index: 1; */
    top: 29px;
    /* background: #fff; */
    width: 35px;
    height: 23px;
    right: 0;
    padding-left: 5px;
    border-radius: 0px 0px 15px 0px;
    padding-top: 2px;
}

.search-underlist {
    background-color: #6d0cee;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.multiselect {
    width: 100px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

label {
    /* display: inline-block; */
    margin-bottom: 0rem !important;
}

.dropdown-search-under {
    position: absolute;
    top: 100%;
    left: 104px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 1px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    * border-right-width: 2px;
    * border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.btn-search-underlist {
    background-color: white;
    color: #6d0cee;
    border-radius: 4px;
    border: none;
}

.btn-search-underlist:hover {
    background-color: white;
    color: #6d0cee;
}

.search-underlist-input {
    padding: 16px !important;
    background: #CDCDCD !important;
    color: #7E7E7E !important;
}

.search-sideline-input {
    padding: 16px !important;
    background: #CDCDCD !important;
    color: #7E7E7E !important;
}

.sptitle-search {
    color: white;
    font-size: 14px;
}

.btn-rolback-underdetail {
    background: #6d0cee;
    font-size: 15px;
    color: white;
    padding: 8px;
    border-radius: 7px;
    border: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    padding: 8px;
    color: #6D0CEE;
    border-radius: 50%;
    background-color: #bc9fe2;
    font-size: 18px !important;
    font-weight: bold;
}

.btn-back-undersidelinedetail {
    padding-bottom: 24px;
}

.data1-undersideline {
    display: flex;
    padding-top: 1rem;
}

.img-undersidelinedetail {
    background-color: #e6e6e6;
    padding: 7px;
    border-radius: 50%;
    width: 50px;
    margin-left: 3rem;
    background-repeat: no-repeat;
}

.data1-follow-underdetail i {
    font-size: 24px;
    color: #5008f1 !important;
    opacity: 1;
    position: absolute;
    z-index: 1;
    top: 19px;
    /* background: #fff; */
    width: 35px;
    height: 23px;
    right: 22px;
    padding-left: 5px;
    border-radius: 0px 0px 15px 0px;
    padding-top: 2px;
}

.rate-underdetail {
    background-color: #6D0CEE;
    color: white;
    padding: 2px;
    border-radius: 4px;
}

.ratescore-underdetail {
    background-color: #6D0CEE;
    color: white;
    padding: 2px;
    border-radius: 4px;
}

.main-des {
    padding-top: 40px;
}

.main-des .des-underdetail {
    background-color: #6d0cee;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    color: white;
    padding: 7px 19px 7px 19px;
}

.fa-line {
    color: #00a743;
    font-size: 28px;
}

.main-score-underdetail {
    padding: 15px 0px 15px 0px;
}

.icon-ratescore-underdetail {
    display: inline !important;
    padding-left: 20px;
    font-size: 15px;
    color: #6d0cee;
}

.data2-underdetail {
    width: 100%;
    border: solid 2px;
    border-radius: 5px;
    height: 100%;
    font-size: 15px;
    padding: 12px 12px 0px 12px;
    color: #6d0cee;
}

.box-data2-underdetail {
    padding-top: 24px;
}

.prohibition {
    padding-top: 108px;
    color: red;
    padding-bottom: 20px;
    font-weight: 500;
}

.detaildes-foot {
    font-size: 11px;
    color: #6d0cee;
}

.profile-detail-underdetail {
    padding-top: 16px;
    font-size: 15px;
    color: #6d0cee;
}

.idline-underditial {
    font-size: 17px;
    color: #6d0cee;
}

.fa-question-circle {
    color: red;
    font-size: 31px;
    position: absolute;
    margin: -9px -2px -1px 13px;
}

.text-search-head {
    width: 100%;
    font-size: 17px;
    height: 39px;
}

.span-txt-1 {
    float: right;
    font-size: 14px;
    color: #C4C4C4;
}

.verify-people {
    font-size: 15px;
}

.search-modal-header {
    -webkit-box-align: center !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.btn-searchheader-modal {
    background-color: #6d0cee !important;
    border-color: #6d0cee !important;
}